@font-face {
  font-family: 'iconfont';  /* project id 1505817 */
  src: url('//at.alicdn.com/t/font_1505817_wyhgzhyfte.eot');
  src: url('//at.alicdn.com/t/font_1505817_wyhgzhyfte.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1505817_wyhgzhyfte.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1505817_wyhgzhyfte.woff') format('woff'),
  url('//at.alicdn.com/t/font_1505817_wyhgzhyfte.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1505817_wyhgzhyfte.svg#iconfont') format('svg');
}

.iconfont {   
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
}
